{% extends "layouts/base.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Tinyfork not the framework.</h1>
    <p class="important">
        {{ message }}
    </p>
{% endblock %}